.App {
  text-align: center;
  font-family: "Trebuchet MS";
  background-color: #43766c;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.header__title {
  margin: 0;
}

.board {
  margin: 100px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

.board__cell {
  width: 50px;
  height: 50px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Trebuchet MS";
  text-align: center;
  padding: 0;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: font-size 0.3s, border 0.3s;
}

.board__cell:hover {
  font-size: 30px;
  border: 2px solid rgba(0, 0, 0, 1);
}
